
.st-card {
    height: 170px;
    width: 140px;
    border-radius: 10px;
    margin: 10px;
}

.image-card {
    height: 50px;
}


.st-image-card {
    height: 150px;
}

.st-content-card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.st-content {
    display: flex;
    
}
