<div class="container main-container raleway">
    <mdb-card class="my-main-card">
        <mdb-card-body class="card-body">

                  <div class="cities-section">
                    <div class="row">
                        <div class="col-12 st-title-forcast">
                                <h1>Weather Forcast</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <app-weather-cities></app-weather-cities>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-12">
                                    <app-table-forcast></app-table-forcast>    
                            </div>
                    </div>
                  </div>
           
                  <div class="details-section">
                      <app-weather-details></app-weather-details>
                  </div>
             
        </mdb-card-body>
      </mdb-card>
</div>

<notifier-container></notifier-container>