<div class="container-fluid font-color-w center-v-h">
    <div class="row">
        <div class="col-12 center-v">
            <img src="../../assets/008-storm.png" width="120" alt="">
        </div>
    </div>

    <div class="row temp-info">
            <div class="col-12 temp-text">
                18
            </div>
    </div>

    <div class="row city-name">
            <div class="col-12 center-v">
                Paris
            </div>
    </div>

    <div class="row sun-info">
            <div class="col-6 center-v">
               <span>Sun rise </span>
               <span> 8:00</span>
            </div>

            <div class="col-6 center-v">
                <span>Sun rise </span>
                <span> 8:00</span>
            </div>
    </div>
</div> 