<div class="row">
    <div class="col-12">
            <table mdbTable hover="true">
                    <tbody>
                      <tr mdbTableCol *ngFor="let day of listFiveDays">
                        <td>
                            
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                      </tr>
                    </tbody>
            </table>
    </div>
</div>