.st-table-content {
    margin-top: 80px;
}

.st-content-5 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    img {
        width: 30px;
        margin-right: 8px;
        
    }
}

.table.table td, table.table th {
    padding-top: 7.3px;
    padding-bottom: 7.3px;
}
